<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    
    <!-- Css -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/icon.css">
    <link rel="stylesheet" href="assets/css/grid.css">
    <link rel="stylesheet" href="assets/css/signIn.css">
    <link rel="stylesheet" href="assets/css/responsive__signIn-registration.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>

</head>
<body>
    <section class="all__sign-in">
        

            <!-- Header -->
            <header class="header">
                <nav class="header-navbars">
        
                    <!-- title/name website -->
                    <section class="navbars-title">
                        <a href="./index.html" class="navbars-title__link">
                            <h1>Car Auto</h1>
                        </a>
                    </section>
                    <!-- /title/name website -->
        
                    <!-- list category -->
                    <menu class="navbars-menu">
                        <ul class="menu-list">
                            <li class="list-item active">
                                <a href="" class="item-link">HOME</a>
                            </li>
        
                            <li class="list-item">
                                <a href="" class="item-link">PRODUCTS</a>
                            </li>
        
                            <li class="list-item">
                                <a href="" class="item-link">ABOUT</a>
                            </li>
        
                            <li class="list-item">
                                <a href="" class="item-link">SERVICES</a>
                            </li>
        
                            <li class="list-item">
                                <a href="" class="item-link">BLOG</a>
                            </li>
        
                            <li class="list-item">
                                <a href="template/contact/contact.html" 
                                    class="item-link">CONTACT</a>
                            </li>
                        </ul>
                    </menu>
                    <!-- /list category -->
        
                    <!-- footer -->
                    <footer class="navbars-info">
                        <!-- copyright -->
                        <section class="info-brief">
                            <p>
                                &copy; Copyright &copy;
                                <script type="text/javascript">
                                    let currentDay = new Date();
                                    let currentYear = currentDay.getFullYear();
                                    document.write(currentYear);
                                </script>
                                All right reserved | Development by MyTeam.
                            </p>
                        </section>
                        <!-- /copyright -->
        
                        <!-- social contact -->
                        <menu class="info-social">
                            <ul class="social-list">
                                <li class="social-item">
                                    <a href="https://www.facebook.com/DuongBacDong.2000/" 
                                        class="social-link" target="_blank">
                                        <i class="icon-facebook"></i>
                                    </a>
                                </li>
        
                                <li class="social-item">
                                    <a href="https://www.twitter.com/Bacdong/" 
                                        class="social-link" target="_blank">
                                        <i class="icon-twitter"></i>
                                    </a>
                                </li>
        
                                <li class="social-item">
                                    <a href="https://www.instagram.com/" 
                                        class="social-link" target="_blank">
                                        <i class="icon-instagram"></i>
                                    </a>
                                </li>
        
                                <li class="social-item">
                                    <a href="tel:+84915272291" class="social-link" target="_blank">
                                        <i class="icon-telegram"></i>
                                    </a>
                                </li>
                            </ul>
                        </menu>
                        <!-- /social contact -->
                    </footer>
                    <!-- /footer -->
        
                </nav>
            </header>
            <!-- /Header -->


            <!-- Header on tablet and mobile -->

            <header class="header-replace col mobile-12 tablet-12 pc-0 ">

                <!-- title -->
                <section class="navbars-title">
                    <a href="./index.html" class="navbars-title__link">
                        <h1 class="logo-replace">Car Auto</h1>
                    </a>
                </section>

                <!-- menu replace on tablet & mobile -->
                <label for="checkmenu" class="icon-options icon-menu"></label>
                <input type="checkbox" hidden id="checkmenu" class="input-select">
                <ul class="list-tablet-mobile">
                    <li class="list-tablet-mobile__item">
                        <a class="tablet-mobile-item__link" href="#">
                            Home
                        </a>
                    </li>

                    <li class="list-tablet-mobile__item">
                        <a class="tablet-mobile-item__link" href="#">
                            Products
                        </a>
                    </li>

                    <li class="list-tablet-mobile__item">
                        <a class="tablet-mobile-item__link" href="#">
                            about
                        </a>
                    </li>

                    <li class="list-tablet-mobile__item">
                        <a class="tablet-mobile-item__link" href="#">
                            services
                        </a>
                    </li>

                    <li class="list-tablet-mobile__item">
                        <a class="tablet-mobile-item__link" href="#">
                            blog
                        </a>
                    </li>

                    <li class="list-tablet-mobile__item">
                        <a class="tablet-mobile-item__link" href="#">
                            contact
                        </a>
                    </li>


                    <section class="copyright-tablet-mobile">
                        <p>
                            &copy; Copyright &copy;
                            <script type="text/javascript">
                                let currentDay = new Date();
                                let currentYear = currentDay.getFullYear();
                                document.write(currentYear);
                            </script>
                            All right reserved | Development by MyTeam.
                        </p>
                    </section>
                </ul>
                <label for="checkmenu" class="over-lay-tablet-mobile"></label>
                
            </header>



            <!--form-->
            <form action="#" class="main__sign-in ">
                <h1 class="title-form">Log In</h1>
                <label for="username" class="label-in__form"></label>
                <input type="text" id="username" class="input__sign-in" name="user" placeholder="Username" >

                <label for="pass" class="label-in__form"></label>
                <input type="password" id="pass" class="input__sign-in pass" name="pass" placeholder="Password">

                <div class="remember-forgot">
                    <div class="remember-container">
                        <input type="checkbox" id="" class="input__remember" name="remember">
                        <span class="remember-text">Remember me</span>
                    </div>
                    <div class="forgot">
                        <a href="#" class="forgot-link">
                            <span class="forgot-text">Forgot password?</span>
                        </a>
                    </div>
                </div>
                
                <a href="" class="btn-login">Login</a>

                <div class="not-member">
                    <span class="not-member__disc">Not a member?</span>
                    <a href="../registration/registration.html" class="not-member__link">Registration now</a>
                </div>
            </form>
            
            
            <!-- footer replace -->
            <footer class="footer-replace">
                <a href="https://www.facebook.com/DuongBacDong.2000/"
                     class="footer-replace__link" target="_blank">
                    <i class="icon-facebook footer-replace__item"></i>
                </a>

                <a href="https://www.twitter.com/Bacdong/" 
                    class="footer-replace__link" target="_blank">
                    <i class="icon-twitter footer-replace__item"></i>
                </a>

                <a href="https://www.instagram.com/"
                     class="footer-replace__link" target="_blank">
                    <i class="icon-instagram footer-replace__item"></i>
                </a>

                <a href="tel:+84915272291"
                     class="footer-replace__link" target="_blank">
                    <i class="icon-telegram footer-replace__item"></i>
                </a>

            </footer>

        
    </section>
</body>
</html>