* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  line-height: 1.8rem;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 1.6rem;
}

body .app {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.header .header-navbars, .header-navbars .navbars-menu .menu-list, .menu-list .list-item, .header-navbars .navbars-info, .navbars-info .info-social .social-list, .content-info, .left-row, .left-row .row-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-list .list-item .item-link, .navbars-info .info-social .social-list .social-item .social-link, .row-text .text-link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
}

.header {
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: calc(20% - 1.8rem);
  background-color: #2C2C2C;
}

.header .header-navbars {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.header .header-navbars .navbars-title {
  width: 100%;
  text-align: center;
}

.navbars-title .navbars-title__link {
  display: block;
  width: 100%;
  text-decoration: none;
}

.navbars-title .navbars-title__link h1 {
  color: #FFF;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-transform: uppercase;
}

.header-navbars .navbars-menu {
  width: 100%;
}

.header-navbars .navbars-menu .menu-list {
  width: 100%;
  list-style: none;
  flex-direction: column;
}

.menu-list .list-item {
  margin-bottom: 0.8rem;
}

.menu-list .list-item.active {
  border-bottom: 1px solid #FFC300;
}

.menu-list .list-item.active .item-link {
  color: #FFC300;
}

.menu-list .list-item .item-link {
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.menu-list .list-item:hover {
  border-bottom: 1px solid #FFC300;
  transition: all ease-in 0.2s;
}

.menu-list .list-item:hover .item-link {
  color: #FFF;
}

.menu-list .list-item:hover.active .item-link {
  color: #FFC300;
}

.header-navbars .navbars-info {
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.header-navbars .navbars-info .info-brief {
  width: 100%;
  padding: 0 2rem 2rem 2rem;
}

.header-navbars .navbars-info .info-brief p {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  user-select: none;
}

.navbars-info .info-social {
  width: 100%;
}

.navbars-info .info-social .social-list {
  width: 100%;
  list-style: none;
}

.navbars-info .info-social .social-list .social-item {
  margin: 0 0.6rem;
}

.navbars-info .info-social .social-list .social-item .social-link i {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.3);
  transition: all ease-in 0.2s;
}

.navbars-info .info-social .social-list .social-item .social-link:hover i {
  font-size: 1.6rem;
  color: #FFC300;
}

.app .border {
  width: 1.6rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.03);
}

.app .container {
  width: calc(80% + 0.2rem);
  background-color: #FFF;
}

.app .container .title-top {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  color: #999;
  margin-bottom: 1.5rem;
}

.app .container h1 {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  position: relative;
}

.app .container .title-highlight {
  width: 6rem;
  height: 0.4rem;
  display: block;
  border-radius: 0.4rem;
  background-color: #FFC300;
}

.container .content {
  padding: 6rem 4rem;
}

.container .content .content-info {
  width: 100%;
  height: 60vh;
  margin-top: 4rem;
}

.content-info .info-left {
  width: 60%;
}

.content-info .info-right {
  width: 40%;
}

.content-info .info-left,
.content-info .info-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content-info .info-left .left-row,
.content-info .info-right .left-row {
  width: 100%;
  height: 22%;
}

.left-row {
  justify-content: space-between;
}

.left-row .row-icon {
  height: 100%;
  width: 10rem;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.03);
}

.left-row .row-text {
  flex: 1;
  height: 100%;
  justify-content: start;
  padding: 0 2rem;
}

.row-text .text-link {
  font-size: 1.6rem;
  color: #FFC300;
}

.row-text .link-address {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}

.content-info #contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content-info #contact input {
  width: 100%;
  padding: 1.6rem 2rem;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.03);
  border: none;
  outline: none;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.7);
}

.content-info #contact input:focus {
  background-color: #f0f0f0;
}

.content-info #contact #input-message {
  padding: 1.6rem 2rem;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
}

.content-info #contact #input-message:focus {
  background-color: #f0f0f0;
}

#contact .contact-btn {
  width: 100%;
  border: none;
}

#contact .contact-btn .btn-send {
  width: 14rem;
  padding: 1.2rem 0;
  background-color: #FFC300;
  color: #FFF;
  font-size: 1.2rem;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 2px;
}

.content-last {
  padding: 1.5rem 3rem;
}

.content-last h2 {
  font-family: "Quicksand", Arial, sans-serif;
  color: #000;
  font-weight: 400;
  margin: 0 0 3rem 0;
  font-size: 3rem;
}

.content-mid {
  width: 100%;
  height: 70rem;
  background-color: rgba(0, 0, 0, 0.03);
}

.footer-contact {
  width: 50%;
  padding: 1.5rem 0;
}

.footer-contact p {
  font-size: 1.8rem;
  box-sizing: border-box;
  margin: 0 0 1rem;
  padding-bottom: 1rem;
  color: rgba(0, 0, 0, 0.7);
}

.footer-contact .btn-contact {
  font-size: 1.3rem;
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  background-color: #FFC300;
  outline: none;
  border: none;
  letter-spacing: 1px;
  font-weight: 400;
  color: #FFF;
  border-radius: 5.5rem;
}
/*# sourceMappingURL=contact.css.map */