* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  line-height: 1.8rem;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 1.6rem;
}

body .app {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn-contact, .form-search, .product-img .car-avatar .name {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CSS Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: calc(20% - 1.8rem);
  background-color: #2C2C2C;
}

/* CSS Header */
/* CSS Section */
.container {
  width: 80%;
}

.author-container {
  width: 100%;
  display: flex;
  height: 9rem;
}

.author-container .div-title {
  width: 50%;
}

.author-container .div-author {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.author-container .div-author .btn-contact {
  margin: 0 0;
}

.author-container .div-author .login {
  font-size: 1.9rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-decoration: none;
}

.author-container .div-author .register {
  text-decoration: none;
  color: #FFC300;
  font-size: 1.9rem;
  margin: 0 3.6rem;
  text-transform: capitalize;
}

.author-container .div-author .register:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.btn-contact {
  height: 5.2rem;
  width: 16rem;
  border-radius: 6rem;
  background-color: #FFC300;
  margin-bottom: 1.5rem;
}

.btn-contact:hover {
  opacity: 0.86;
  transition: all ease 0.2s;
}

.btn-contact a {
  text-align: center;
  width: 100%;
  line-height: 5.2rem;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

.search {
  width: 100%;
  background-color: #ebebeb;
}

.search .search-bar {
  padding: 3rem 1rem;
  display: flex;
  justify-content: space-around;
}

.search .search-bar .menu {
  background-color: #FFC300;
  width: 24rem;
}

.form-search {
  width: 100%;
  margin-right: 7rem;
  border-radius: 10rem;
  border: 1px solid #4E4E4E;
  padding: 0.5rem 0;
  padding-left: 2rem;
  padding-right: 0.8rem;
  background-color: white;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
}

.form-search i {
  font-size: 2.5rem;
}

.form-search input {
  height: 3rem;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.8rem;
  padding-left: 2rem;
}

.form-search .btn-search {
  cursor: pointer;
  width: 13rem;
  height: 4rem;
  background-color: #FFC300;
  border: none;
  border-radius: 10rem;
  font-size: 1.5rem;
}

.product-container {
  width: 100%;
}

.product-container .product {
  width: 100%;
}

.product-container .product .product-item {
  width: 80rem;
  height: 25rem;
  border: 1px solid black;
  margin: 5rem auto;
  display: flex;
}

.product-container .product .product-item:hover {
  box-shadow: 0.5rem 0.5rem 0.2rem #888888;
}

.product-img {
  width: 26rem;
  height: 25rem;
  position: relative;
}

.product-img .image {
  width: 100%;
  height: 100%;
}

.product-img .image img {
  width: 100%;
  height: 100%;
}

.product-img .car-avatar {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  display: flex;
  z-index: 1;
}

.product-img .car-avatar .avatar {
  width: 5rem;
  height: 5rem;
}

.product-img .car-avatar .name {
  width: 12rem;
  text-shadow: 1px 1px #4E4E4E;
  color: #FFF;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.4rem;
  padding-left: 1.1rem;
}

.product-detail {
  width: calc(100% - 26rem);
  padding: 2rem 3rem;
}

.product-detail .product-name {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.product-detail .product-price {
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.product-detail .product-price .price {
  color: #FFC300;
  font-weight: 600;
  font-size: 1.8rem;
}

.product-detail .product-content {
  margin-bottom: 3rem;
}

.product-detail .product-group-btn {
  display: flex;
  width: 100%;
  margin-bottom: 1.4rem;
}

.product-detail .product-group-btn .btn-view,
.product-detail .product-group-btn .btn-oder {
  width: 14rem;
  font-size: 1.6rem;
  padding: 0.8rem 1rem;
  border-radius: 50rem;
  outline: none;
  cursor: pointer;
  margin-right: 5rem;
}

.product-detail .product-group-btn .btn-view:hover,
.product-detail .product-group-btn .btn-oder:hover {
  color: red;
}

.product-detail .product-group-btn .btn-view {
  border: none;
  background-color: #FFC300;
}

.product-detail .product-group-btn .btn-oder {
  background-color: transparent;
  border: 1px solid black;
}

.product-detail .product-group-btn .btn-oder:hover {
  border: 1px solid red;
}

.product-detail .product-info {
  display: flex;
}

.product-detail .product-info .discount {
  margin-right: 5rem;
}

.product-detail .product-info .discount,
.product-detail .product-info .evaluate {
  display: flex;
  align-items: center;
}

.product-detail .product-info span {
  font-size: 1.2rem;
  padding-left: 1rem;
}

.product-detail .product-info i {
  font-size: 1.6rem;
}

/* CSS Section */
/* Responsive */
/* Mobile: width < 740px*/
@media only screen and (max-width: 46.1875em) {
  .header {
    display: none;
  }
  .container {
    width: 100%;
  }
  .author-container .div-title {
    display: none;
  }
  .author-container .div-author {
    width: 100%;
  }
  .search-bar {
    flex-direction: column;
  }
  .search-bar .form-search .icon-enter {
    display: none;
  }
  .search-bar .form-search input {
    padding-left: 0;
  }
  .product-container .product {
    padding: 3rem;
  }
  .product-container .product .product-item {
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin: 0 0;
  }
  .product-img {
    width: 100%;
    height: 18rem;
  }
  .product-detail {
    width: 100%;
    padding: 2rem 1rem;
  }
  .product-detail .product-group-btn {
    justify-content: space-around;
  }
  .product-detail .product-group-btn .btn-view,
  .product-detail .product-group-btn .btn-oder {
    width: 12rem;
    font-size: 1.4rem;
    margin-right: 0;
    padding: 1rem 2rem;
  }
  .product-detail .product-info {
    flex-direction: column;
  }
  .product-detail .product-info span {
    font-size: 1.5rem;
  }
}

/* Tablet */
/* >= Tablet Pro and PC */
/* Responsive */
/*# sourceMappingURL=style.css.map */