$font: 'Quicksand', Arial, sans-serif; // font-weight: 400
$background: #2C2C2C;
$black: #000;
$white: #FFF;
$yellow: #FFC300;
$grey: rgba(255, 255, 255, 0.5);
<<<<<<< HEAD
$text-color: rgba(0, 0, 0, 0.7);

$img-carousel-size: 128rem;
$padding-left-right: 1.5rem;
$padding-container: 3rem 2.5rem;
=======
$background-overlay: #FAFAFA;
$text-color: rgba(0, 0, 0, 0.7);
>>>>>>> master
