@import '_variable.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: $font;
    font-weight: 400;
    font-size: 62.5%;
    line-height: 1.8rem;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-size: 1.6rem;
}

%flex-layout {
    display: flex;
    align-items: center;
    justify-content: center;
}

%anchor {
    display: block;
    text-decoration: none;
    font-weight: 500;
    color: $grey;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: calc(20% - 1.8rem);
    background-color: $background;
    .header-navbars {
        @extend %flex-layout;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        .navbars-title {
            width: 100%;
            text-align: center;
        }
    }
}

.navbars-title {
    .navbars-title__link {
        display: block;
        width: 100%;
        text-decoration: none;
        h1 {
            color: $white;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 2.4rem;
            text-transform: uppercase;
        }
    }
}

.header-navbars {
    .navbars-menu {
        width: 100%;
        .menu-list {
            @extend %flex-layout;
            width: 100%;
            list-style: none;
            flex-direction: column;
        }
    }
}

.menu-list {
    .list-item {
        @extend %flex-layout;
        margin-bottom: 0.8rem;
        &.active {
            border-bottom: 1px solid $yellow;
            .item-link {
                color: $yellow;
            }
        }
        .item-link {
            @extend %anchor;
            font-size: 1.4rem;
            line-height: 2.2rem;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1px;
        }
        &:hover {
            border-bottom: 1px solid $yellow;
            transition: all ease-in 0.2s;
            .item-link {
                color: $white;
            }
            &.active {
                .item-link {
                    color: $yellow;
                }
            }
        }
    }
}

.header-navbars {
    .navbars-info {
        @extend %flex-layout;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        .info-brief {
            width: 100%;
            padding: 0 2rem 2rem 2rem;
            p {
                font-size: 1.3rem;
                font-weight: 500;
                color: rgba(255, 255, 255, 0.3);
                text-align: center;
                user-select: none;
            }
        }
    }
}

.navbars-info {
    .info-social {
        width: 100%;
        .social-list {
            @extend %flex-layout;
            width: 100%;
            list-style: none;
            .social-item {
                margin: 0 0.6rem;
                .social-link {
                    @extend %anchor;
                    i {
                        font-size: 1.6rem;
                        color: rgba(255, 255, 255, 0.3);
                        transition: all ease-in 0.2s;
                    }
                    &:hover {
                        i {
                            font-size: 1.6rem;
                            color: $yellow;
                        }
                    }
                }
            }
        }
    }
}