<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Auto</title>

    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/blog.css">
    <link rel="stylesheet" href="../../assets/css/icon.css">
    <!-- /CSS -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- /Goole Fonts -->

    <!-- Jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- /Jquery CDN -->
</head>

<body>
    <section class="app">
        <!-- Header -->
        <header class="header">
            <nav class="header-navbars">
                <!-- title/name website -->

                <section class="navbars-title">
                    <a href="./index.html" class="navbars-title__link">
                        <h1>Car Auto</h1>
                    </a>
                </section>
                <!-- /title/name website -->

                <!-- list category -->

                <!-- nav PC-->
                <menu class="navbars-menu">
                    <ul class="menu-list">
                        <li class="list-item ">
                            <a href="../../index.html" class="item-link">HOME</a>
                        </li>

                        <li class="list-item">
                            <a href="" class="item-link">PROJECT</a>
                        </li>

                        <li class="list-item">
                            <a href="" class="item-link">ABOUT</a>
                        </li>

                        <li class="list-item">
                            <a href="" class="item-link">SERVICES</a>
                        </li>

                        <li class="list-item ative">
                            <a href="blog.html" class="item-link">BLOG</a>
                        </li>

                        <li class="list-item">
                            <a href="../contact/contact.html" class="item-link">CONTACT</a>
                        </li>
                    </ul>
                </menu>
                <!-- /list category -->

                <!-- footer -->
                <section class="navbars-info">
                    <!-- copyright -->
                    <div class="info-brief">
                        <p>
                            &copy; Copyright &copy;
                            <script type="text/javascript">
                                let currentDay = new Date();
                                let currentYear = currentDay.getFullYear();
                                document.write(currentYear);
                            </script>
                            All right reserved | Development by MyTeam.
                        </p>
                    </div>
                    <!-- /copyright -->

                    <!-- social contact -->
                    <menu class="info-social">
                        <ul class="social-list">
                            <li class="social-item">
                                <a href="https://www.facebook.com/DuongBacDong.2000/" class="social-link" target="_blank">
                                    <i class="icon-facebook"></i>
                                </a>
                            </li>

                            <li class="social-item">
                                <a href="https://www.twitter.com/Bacdong/" class="social-link" target="_blank">
                                    <i class="icon-twitter"></i>
                                </a>
                            </li>

                            <li class="social-item">
                                <a href="https://www.instagram.com/" class="social-link" target="_blank">
                                    <i class="icon-instagram"></i>
                                </a>
                            </li>

                            <li class="social-item">
                                <a href="tel:+84915272291" class="social-link" target="_blank">
                                    <i class="icon-telegram"></i>
                                </a>
                            </li>
                        </ul>
                    </menu>
                    <!-- /social contact -->
                </section>
                <!-- /footer -->
            </nav>
        </header>
        <!-- /Header -->

        <section class="border"></section>

        <main class="container-blog">

            <div class="content-blog">

                <!-- HeaderContent-->
                <div class="content-title">
                    <span class="title-top">blog</span>
                    <h1>read blog</h1>
                    <span class="title-highlight"></span>
                </div>

                <!--/HeaderContent-->


                <!--BlogImage-->
                <div class="blog-grid">
                    <!--Row1-->
                    <div class="grid-row">

                        <div class="row-img">
                            <div class="img-blog" style="background-image: url('images/lamborurus (1).jpg');">

                            </div>

                            <div class="img-description">
                                <div class="description-header">
                                    <span>April 25, 2020 |</span>
                                    <span> lamborghini |</span>
                                    <span>4</span>
                                </div>
                                <div>
                                    <a href="" class="description-tittle">
                                        the fastest suv in the world 
                                    </a>
                                </div>
                                <div class="description-content">
                                    <p>
                                        The Urus is the first Super Sport Utility Vehicle in the world. </p>
                                </div>
                            </div>
                        </div>

                        <div class="row-img">
                            <div class="img-blog" style="background-image: url('images/lamborexhaust.jpg');">

                            </div>

                            <div class="img-description">
                                <div class="description-header">
                                    <span>April 25, 2020 |</span>
                                    <span>lamborghini |</span>
                                    <span>4</span>
                                </div>
                                <div>
                                    <a href="" class="description-tittle">
                                        next generation of exhaust
                                    </a>
                                </div>
                                <div class="description-content">
                                    <p>
                                        The Huracán EVO is the evolution of the most successful V10-powered Lamborghini ever </div>
                            </div>
                        </div>

                        <div class="row-img">
                            <div class="img-blog" style="background-image: url('images/ferrariwheel.jpg');">

                            </div>

                            <div class="img-description">
                                <div class="description-header">
                                    <span>April 25, 2020 |</span>
                                    <span>ferrari |</span>
                                    <span>4</span>
                                </div>
                                <div>
                                    <a href="" class="description-tittle">
                                        the new rims revolution
                                    </a>
                                </div>
                                <div class="description-content">
                                    <p>
                                        The unique design reinterprets the style of historical Ferrari wheels </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/Row1-->

                    <!--Row2-->
                    <div class="grid-row">

                        <div class="row-img">
                            <div class="img-blog" style="background-image: url('images/bmwredleaf.jpg');">

                            </div>

                            <div class="img-description">
                                <div class="description-header">
                                    <span>April 25, 2020 |</span>
                                    <span>bmw  |</span>
                                    <span>4</span>
                                </div>
                                <div>
                                    <a href="" class="description-tittle">
                                        not just a vehicle
                                    </a>
                                </div>
                                <div class="description-content">
                                    <p>
                                        Sometimes cars not just to move from A to B. It even brings us the good feeling when we..
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row-img">
                            <div class="img-blog" style="background-image: url('images/steeringwheel.jpg');">

                            </div>

                            <div class="img-description">
                                <div class="description-header">
                                    <span>April 25, 2020 |</span>
                                    <span>furniture |</span>
                                    <span>4</span>
                                </div>
                                <div>
                                    <a href="" class="description-tittle">
                                        safe and sound
                                    </a>
                                </div>
                                <div class="description-content">
                                    <p>
                                        Cars can not just driving to feel. It can bring your family close together in a small trip
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row-img">
                            <div class="img-blog" style="background-image: url('images/rollroyce1.jpg');">

                            </div>

                            <div class="img-description">
                                <div class="description-header">
                                    <span>April 25, 2020 |</span>
                                    <span>roll royce |</span>
                                    <span>4</span>
                                </div>
                                <div>
                                    <a href="" class="description-tittle">
                                        roll royce wraith - a boeing on road
                                    </a>
                                </div>
                                <div class="description-content">
                                    <p>
                                        Wraith delivers a truly remarkable, spirited drive unlike any other. It is the result of the relentless desire to craft greatness. </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/Row2-->
                </div>

                <!--/BlogImage-->

                <!--Pagination-->
                <div class="paginations">

                    <ul class="pagination">

                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">
                                <i class="pagination-item__icon">«</i>
                            </a>
                        </li>

                        <li class="pagination-item pagination-item__active">
                            <a href="" class="pagination-item__link">1</a>
                        </li>

                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">2</a>
                        </li>

                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">3</a>
                        </li>

                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">4</a>
                        </li>

                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">
                                <i class="pagination-item__icon">»</i>
                            </a>
                        </li>

                    </ul>

                </div>
                <!--/Pagination-->
            </div>

            <!--FooterBlog-->
            <div class="get-in-touch">
                <h2> Get In Touch!</h2>
                <div class="footer-contact">
                    <p class="carauto-lead">
                        Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                    </p>
                    <a class="btn-contact">
                        Contact me!
                    </a>
                </div>
            </div>
            <!--FooterBlog-->

        </main>

    </section>



</body>

</html>