* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  line-height: 1.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 1.6rem;
}

body .app {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .header-navbars, .header-navbars .navbars-menu .menu-list, .menu-list .list-item, .header-navbars .navbars-info, .navbars-info .info-social .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-list .list-item .item-link, .navbars-info .info-social .social-list .social-item .social-link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
}

.header {
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: calc(20% - 1.8rem);
  background-color: #2C2C2C;
}

.header .header-navbars {
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header .header-navbars .navbars-title {
  width: 100%;
  text-align: center;
}

.navbars-title .navbars-title__link {
  display: block;
  width: 100%;
  text-decoration: none;
}

.navbars-title .navbars-title__link h1 {
  color: #FFF;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-transform: uppercase;
}

.header-navbars .navbars-menu {
  width: 100%;
}

.header-navbars .navbars-menu .menu-list {
  width: 100%;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-list .list-item {
  margin-bottom: 0.8rem;
}

.menu-list .list-item.active {
  border-bottom: 1px solid #FFC300;
}

.menu-list .list-item.active .item-link {
  color: #FFC300;
}

.menu-list .list-item .item-link {
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.menu-list .list-item:hover {
  border-bottom: 1px solid #FFC300;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

.menu-list .list-item:hover .item-link {
  color: #FFF;
}

.menu-list .list-item:hover.active .item-link {
  color: #FFC300;
}

.header-navbars .navbars-info {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-navbars .navbars-info .info-brief {
  width: 100%;
  padding: 0 2rem 2rem 2rem;
}

.header-navbars .navbars-info .info-brief p {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbars-info .info-social {
  width: 100%;
}

.navbars-info .info-social .social-list {
  width: 100%;
  list-style: none;
}

.navbars-info .info-social .social-list .social-item {
  margin: 0 0.6rem;
}

.navbars-info .info-social .social-list .social-item .social-link i {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

.navbars-info .info-social .social-list .social-item .social-link:hover i {
  font-size: 1.6rem;
  color: #FFC300;
}

.app .border {
  width: 1.6rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.03);
}

.app .container-blog {
  width: calc(80% + 0.2rem);
  background-color: #FFF;
}

.app .container-blog .title-top {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  color: #999;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.app .container-blog h1 {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  position: relative;
}

.app .container-blog .title-highlight {
  width: 6rem;
  height: 0.4rem;
  display: block;
  border-radius: 0.4rem;
  background-color: #FFC300;
}

.container-blog .content-blog {
  padding: 6rem 4rem;
}

.content-blog .blog-grid {
  margin-top: 6rem;
  width: 100%;
}

.content-blog .blog-grid .grid-row {
  width: 100%;
  height: 42rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8rem;
}

.content-blog .blog-grid .grid-row .row-img {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  height: 100%;
}

.row-img .img-blog {
  width: 100%;
  height: 60%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.row-img .img-description {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 40%;
}

.row-img .img-description .description-header {
  font-size: 70%;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.4) !important;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.row-img .img-description .description-tittle {
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 430;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
}

.row-img .img-description .description-content {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
}

/*Pagination*/
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.pagination .pagination-item .pagination-item__link {
  display: block;
  text-align: center;
  text-decoration: none;
  font: "Quicksand", Arial, sans-serif;
  color: #000;
  min-width: 4.8rem;
  height: 4.2rem;
  line-height: 4.2rem;
  border: #dbdbdb solid 1px;
  border-radius: 2px;
  margin: 0 2px;
}

.pagination .pagination-item .pagination-item__link .pagination-item__icon {
  font: "Quicksand", Arial, sans-serif;
  text-decoration: none;
}

.pagination .pagination-item.pagination-item__active .pagination-item__link {
  background-color: #FFC300;
  color: #FFF;
}

.get-in-touch {
  padding: 1.5rem 3rem;
}

.get-in-touch h2 {
  font-family: "Quicksand", Arial, sans-serif;
  color: #000;
  font-weight: 400;
  margin: 0 0 1rem 0;
  font-size: 3rem;
}

.footer-contact {
  width: 50%;
  padding: 1.5rem 0;
}

.footer-contact .carauto-lead {
  font-size: 1.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 0.5rem;
  padding-bottom: 3rem;
  color: rgba(0, 0, 0, 0.7);
}

.footer-contact .btn-contact {
  font-size: 1.3rem;
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  background-color: #FFC300;
  outline: none;
  border: none;
  letter-spacing: 1px;
  font-weight: 400;
  color: #FFF;
  border-radius: 5.5rem;
}

/* Mobile*/
/*# sourceMappingURL=blog.css.map */